
.close {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: dimgray;
    text-decoration: none;
    cursor: pointer;
}

.modal img {
    margin: auto;
    display: block;
    max-width: 88vw;
    max-height: 88vh;
    width: auto;
    height: auto;
}

.modal-fullscreen {
    padding: 0!important;
    padding-left: 2.5vw!important;
    padding-top: 1.5vh!important;
}

.modal-fullscreen .modal-dialog {
    max-width: 95vw;
    height: 95vh;
    margin: 0;
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-fullscreen .modal-body {
    overflow-y: auto;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img {
    cursor: zoom-in;
}